<template name="signup">
	<section class="signup fancy-form">

		<h1 class="fancy-form__header">Sign up</h1>

		<form id="signup-form" class="fancy-form__form" action="" method="post">
			<div class="fancy-form__info">

				<div class="fancy-form__labels-container">
					<label for="signup-email" class="fancy-form__label">Email</label>
					<label for="signup-pass" class="fancy-form__label">Password</label>
					<label for="signup-passconf" class="fancy-form__label">Confirm password</label>
				</div>

				<div class="fancy-form__inputs-container">
					<input id="signup-email" class="fancy-form__input" name="email" type="text" placeholder="me@columbia.edu">
					<input id="signup-pass" class="fancy-form__input" name="password" type="password" placeholder="••••••••">
					<input id="signup-passconf" class="fancy-form__input" name="password-confirmation" type="password" placeholder="••••••••">
				</div>

			</div>
			<button class="fancy-form__submit-button" type="submit">Sign up</button>
		</form>
	</section>
</template>
