<template name="signup">
	<div id="signup">
		<form id="signup-form" method="post" action="">
			<div>
				<label>
					Email address
					<input id="signup-email" name="email" type="text" placeholder="Email" autocomplete="off">
				</label>
			</div>

			<div>
				<label>
					Password
					<input id="signup-pass" name="pass" type="password" placeholder="Password">
				</label>
			</div>

			<div>
				<label>
					Confirm password
					<input id="signup-passconf" name="passconf" type="password" placeholder="Confirm password">
				</label>
			</div>

			<div>
				<button type="submit">Sign up</button>
			</div>
		</form>
	</div>
</template>
