<template name="login">
	<section id="login">
		<h1 id="login-header">Login</h1>
		<form id="login-form">
			<section id="login-info">
				<section id="login-labels">
					<label>Email</label>
					<label>Password</label>
				</section>
				<section id="login-inputs">
					<input type="text" placeholder="me@columbia.edu" />
					<input type="password" placeholder="••••••••" />
				</section>
			</section>
			<button type="submit" id="login-enter">Enter</button>
		</form>
	</section>
</template>
