<template name="login">
	<section id="login">
		<h1 id="login-header">Login</h1>
		<form id="login-form">
			<input class="login-info" id="login-email" type="text" placeholder="me@columbia.edu" autocomplete="off"/>
			<input class="login-info" id="login-pass" type="password" placeholder="password"/>
			<button type="submit" id="login-enter">Enter</button>
		</form>
		<footer id="login-footer">
			<a class="login-footer-link">Help</a>
			<a href="/signup" class="login-footer-link">Sign Up</a>
		</footer>
	</section>
</template>
